.page-contact {
  .body-left, .body-right {
    width: 100%;
    border-right: 0;
  }
}

.search-banner
{
  .search-btn{
      display: none;
  }
}
.page-buy{
  padding: 20px;
  .checkbox-group label{
    width: 50%;
  }
  button{
    width: 200px;
    height: 34px;
    line-height: 0;
    img{
      width: 100%;
    }
  }
}