.container {
  max-width: 100% !important;
}

.room-cards {
  padding-bottom: apm(720, 525);
}

nav .navbar-brand {
  width: 100%;
}

.room-card {
  width: 50%;
  margin-bottom: 100px;
}

.contact {

  background-size: contain;

  input, textarea {
    //font-size: 16px;
  }

  .form-group {
    position: relative;
    &:before {
      position: absolute;
      content: ' ';
      display: inline-block;
      width: orm(2.2);
      height: orm(1.8);
      left: orm(2.3);
      top: orm(1.9);
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
  }
}

footer {
  .w-24, .w-16, .w-12 {
    max-width: 45%;
    margin-right: 0;
  }
  .w-60 {
    width: 100%;
  }
  .w-16 {
    margin-right: 20px;
  }
}

.link-list .list-title {
  font-size: 20px;
}

.banner {
  .banner-title {
    font-size: rem(5);
    color: white;
    text-align: center;
  }
  .banner-content {
    position: absolute;
    left: 0;
    right: 0;
    top: rem(5);
  }
  .banner-input-group {
    position: relative;
    padding-top: 0;
    margin-bottom: rem(5);
    line-height: 0;
    &:after {
      width: 12px;
      height: 12px;
      top: rem(2);
      right: rem(3);
    }
  }
  .banner-input {
    font-size: 12px;
    padding: rem(1.5) rem(3);
    width: 100%;
    &:hover {
      outline: 1px #8ba4b4;
    }

  }
}

.banner-btn-group {
  line-height: 0;
  .btn {
    padding: rem(1.3) rem(3.5);
    color: white;
    border: 1px solid white;
    font-size: rem(1.6);
    margin-left: rem(1.5);
    margin-right: rem(1.5);
    border-radius: 0;
  }
}

.page-buy {
  .select-row {
    width: 100%;
  }
}

.switch-slider {
  .switch-preview {
    bottom: 60%;
    .swiper-container {
      display: none;
    }
    .arrow-left, .arrow-right {
      width: 50px;
      height: 50px;
      margin-bottom: -25px;
    }
  }
  .switch-preview .arrow-left {
    left: 0;
  }
  .switch-preview .arrow-right {
    right: 0;
  }
}

.page-buy-list {
  .media {
    display: block;
    img {
      width: 100%;
      height: auto
    }
    .media-body {
      margin-left: 0;
    }
    .media-right {
      padding-top: 10px;
      height: auto;
      text-align: right;
    }
  }

}

.page-buy-form {
  overflow: inherit;
  .select-rows {
    overflow: inherit;
  }
}

.page-join {
  .join-th-position {
    padding-left: 0;
  }
  .join-tr {
    padding-left: 20px;
  }
}

.buy-detail-banner {
  .banner-left, .banner-right {
    width: 100%;
  }
  .banner-icons {
    margin-left: 0;
    p {
      width: 50%;
      margin: 0;
    }
  }
}

.page-contact {
  .form-group, .form-row {
    &:before {
      display: none;
    }
  }
}