.footer-hot-cards {
  .card {
    background-color: #fdf7e6;
  }
  .swiper-container {
    padding-top: orm(8);
  }
  .swiper-button-prev, .swiper-button-next {
    background-image: url("../img/jiantou-hui-left.png");
    background-size: auto;
    width: orm(4.8);
    height: orm(4.8);
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    background-position: center;
    left: 50%;
    top: 0;
    margin-top: 0;
    right: auto;
    margin-left: orm(-5.2);
  }
  .swiper-button-next {
    background-image: url("../img/jiantou-hui-right.png");
    margin-left: orm(0.4);
  }
}

.page-about {
  font-size: orm(1.6);
  margin-bottom: orm(8);
  .about-content {
    background-image: url("../img/about-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: orm(7);
  }
  img {
    height: 100%;
  }
  .about-welcome {
    font-size: orm(1.2);
    color: $main-red;
  }
  .about-title {
    font-size: orm(3.6);
    margin-bottom: orm(3);
  }
}

.search-banner {
  position: relative;
  margin-bottom: orm(8);
  .banner-img {
    width: 100%;
  }
  .search-btn {
    position: absolute;
    right: 0;
    top: orm(4);
    width: orm(16);
    img{
      width: 100%;
    }
  }
}

.page-join {
  font-size: orm(1.6);

  .join-content {
    margin-bottom: orm(8);
  }
  .join-header-title {
    font-size: orm(3.6);
    text-align: center;
    padding-bottom: orm(3);
    margin-bottom: orm(3);
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    &:after {
      width: orm(12);
      content: ' ';
      height: 2px;
      background-color: $main-red;
      position: absolute;
      bottom: -1px;
      left: 50%;
      margin-left: orm(-6);
    }
  }
  .join-header-text {
    font-size: orm(1.8);
  }
  .join-header {
    margin-bottom: orm(4);
  }

  .join-body-title {
    p {
      background-color: $main-red;
      color: white;
      padding: orm(1) orm(2);
      display: inline-block;
      position: relative;
      &:before {
        content: ' ';
        width: orm(1);
        height: orm(0.5);
        position: absolute;
        left: 0;
        bottom: orm(-0.5);
        background-image: url("../img/join-title-after.png");
        background-repeat: no-repeat;
      }
    }

  }

  .join-table {
    width: 100%;
  }
  .join-th-position, .join-th-wage, .join-th-address, .join-th-op {
    float: left;
    padding: orm(2) 0;
    font-weight: normal;
    font-size: orm(1.8);
  }
  .join-th-position {
    width: 29%;
    padding-left: orm(3);
  }
  .join-th-wage {
    width: 23%;
  }
  .join-th-op {
    width: orm(3);
    float: right;
  }
  .join-detail {
    padding: orm(2) orm(3);
    font-size: orm(1.6);
    color: #333333;
  }
  .join-tr {
    border: 1px solid #d9d9d9;
    border-width: 0 1px 1px 1px;
    overflow: hidden;
  }
  .join-thead .join-tr {
    border-left: 0;
    border-right: 0;
  }
  .join-th-op a {
    background-image: url("../img/arrow-down-black.png");
    width: orm(1.6);
    height: orm(1.5);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    &.collapsed {
      background-image: url("../img/arrow-right-black.png");
    }
  }
  .join-contact-title {
    color: $main-red;
  }
  .join-contact-detail p {
    display: inline-block;
    margin-right: orm(2);

  }
  .input-group {
    padding-left: 0;
    margin-bottom: orm(1);
  }
  input {
    font-size: orm(1.6);
    background-color: transparent;
    padding: orm(0.8) orm(2);
    border-right: 0;
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border-color: #d9d9d9;
    }
  }
  .input-group-text {
    padding: orm(0.8) orm(2);
    a {
      width: orm(2);
      height: orm(2);
      background: url("../img/papperfly.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .input-group-prepend, .input-group-text {
    background-color: transparent;
    border-left: 0;
  }
}