
.page-buy {
  padding: orm(6);
}


.page-buy-form-header {
  margin-bottom: orm(6);
  overflow: hidden;
  .input-group {
    padding-left: 0;
    margin-bottom: orm(1);
    float: right;
  }
  input {
    font-size: orm(1.6);
    background-color: transparent;
    padding: orm(0.8) orm(2);
    border-right: 0;
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border-color: #d9d9d9;
    }
  }
  .input-group-text {
    padding: orm(0.8) orm(2);
    a {
      width: orm(2);
      height: orm(2);
      background: url("../img/buy-search-ico.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .input-group-prepend, .input-group-text {
    background-color: transparent;
    border-left: 0;
  }

  .btn-group button {
    width: rem(16);
    font-size: rem(2.2);
    color: #222222;

    background-color: transparent;
    border-radius: 0;
    &:active, &:focus, &.active {
      color: white;
      background-color: $main-red !important;
      border-color: $main-red;
    }
  }
}



.page-buy {
  .media {
    font-size: orm(1.8);
    color: #333333;
    margin-bottom: orm(4);
    img {
      width: orm(46);
      height: orm(23);
    }
  }
  .media-title {
    font-size: orm(2.6);
    color: #030303;
    margin-bottom: orm(3);
    margin-top: orm(1);
  }
  .media-msg {
    overflow: hidden;
    p {
      width: orm(29);
      float: left;
      margin-bottom: orm(2);
    }
  }
  .media-body {
    margin-left: orm(5);
  }
  .media-right {
    height: orm(23);

  }
  .media-right {
    padding-top: orm(8);
  }
  .price {
    font-size: orm(4);
  }
  .unit-price {
    font-size: orm(1.8);
  }
}

i {
  display: inline-block;
  width: orm(3.5);
  height: orm(2.5);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.i-house {
  background-image: url("../img/i-house.png");
}

.i-bed {
  background-image: url("../img/i-bed.png");
}

.i-sqft {
  background-image: url("../img/i-sqft.png");
}

.i-email {
  background-image: url("../img/i-email.png");
}

.i-address {
  background-image: url("../img/i-address.png");
}

.i-balcony {
  background-image: url("../img/i-balcony.png");
}

.i-park {
  background-image: url("../img/i-park.png");
}

.page-buy-list {
  padding: orm(5) 0;
  border-top: 1px #d9d9d9 dashed;
}

.color-red {
  color: $main-red;
}

.color-blue {
  color: #859ccd;
}

.color-green {
  color: #538135;
}

.color-orange {
  color: #f29e3b;
}

.page-buy .paginations {
  margin-bottom: orm(8);
}

.paginations {
  a {
    display: inline-block;
    width: orm(4);
    height: orm(4);
    border: 1px solid #a3a3a3;
    font-size: orm(1.8);
    line-height: orm(4);
    color: #222222;
    margin-left: orm(0.5);
    margin-right: orm(0.5);
  }
  .pre, .next {
    background-image: url("../img/jiantou-hui-left.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  .next {
    background-image: url("../img/jiantou-hui-right.png");
  }
}
