.page-contact {
    font-size: orm(1.6);
    .contact-content {
        margin-bottom: orm(8);
    }
    .contact-header-title {
        font-size: orm(3.6);
        text-align: center;
        padding-bottom: orm(3);
        margin-bottom: orm(3);
        border-bottom: 1px solid #d9d9d9;
        position: relative;
        &:after {
            width: orm(12);
            content: ' ';
            height: 2px;
            background-color: $main-red;
            position: absolute;
            bottom: -1px;
            left: 50%;
            margin-left: orm(-6);
        }
    }
    .contact-header-text {
        font-size: orm(1.8);
    }
    .contact-header {
        margin-bottom: orm(4);
    }

    .body-left {
        width: orm(40);
        float: left;
        border-right: 1px solid #cacaca;
    }

    .body-right {
        padding-top: orm(3);
    }
    .contact-phone {
        margin-bottom: orm(3);
    }

    .contact-message {
        overflow: hidden;
        border-bottom: 1px solid #eee9de;
        padding-bottom: orm(3);
    }

    .form-row, .form-group {
        &:before {
            display: none;
        }
        input, textarea {
            padding-left: orm(2);
        }
    }
    .map {
        width: 100%;
    }
}