
.buy-detail-header {
  overflow: hidden;
  margin-bottom: orm(2);
  .header-right {
    float: right;
    text-align: center;
  }
  .header-left {
    float: left;
  }
  .price {
    color: $main-red;
    font-size: orm(3);
  }
  .unit-price {
    font-size: orm(1.6);
  }
  .header-title {
    font-size: orm(2.6);
    color: #030303;
  }
  .header-address {
    font-size: orm(1.6);
  }
  .i-address {
    vertical-align: bottom;
  }
}

.buy-detail-banner {
  color: #333333;
  overflow: hidden;
  margin-bottom: orm(6);
  .banner-left {
    width: orm(80);
    position: relative;
    overflow: hidden;
    float: left;
    .switch-slider-view {
      height: orm(40);
      img {
        height: orm(40);
      }
    }
  }
  .banner-right {
    width: orm(35);
    float: right;
    background-color: #fefbf3;
    padding: orm(2) orm(3);
    font-size: orm(1.6);
  }
  .swiper-slide {
    width: orm(19.5);
    height: orm(9.5);
  }
  .switch-preview .swiper-container {
    height: orm(9.5);
  }
  .switch-preview {
    position: relative;
    left: 0;
    top: 0;
    width: orm(81);
  }
  .banner-right-title {
    font-size: orm(1.8);
  }
  .banner-icons {
    overflow: hidden;
    margin-left: orm(-1);
    margin-right: orm(-1);
    margin-bottom: orm(1.5);
    i {
      vertical-align: text-bottom;
      width: orm(1.8);
      height: orm(1.8);
      background-size: 100% auto;
      margin-right: orm(1);
    }
    p {
      font-size: orm(1.6);
      float: left;
      margin-left: orm(1);
      margin-right: orm(1);
    }
  }

  .input-group {
    padding-left: 0;
    margin-bottom: orm(1);
  }
  input, textarea {
    font-size: orm(1.4);
    background-color: transparent;
    padding: orm(0.5);
    border-radius: 0;
    border-left: 0;
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border-color: #d9d9d9;
    }
  }
  .input-group-text {
    padding: orm(0.8) orm(1);
    border-radius: 0;
    a {
      width: orm(1.5);
      height: orm(1.5);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .input-group-prepend, .input-group-text {
    background-color: transparent;
    border-right: 0;
  }
  .form-title {
    font-size: orm(1.8);
    margin-bottom: orm(2);
  }
  textarea {
    border-left: 1px solid #d9d9d9;
    resize: none;
    height: orm(5);
  }
  form button {
    background-color: $main-red;
    font-size: 14px;
    border: 0;
    padding: 0;
    width: 100%;
    height: orm(3.5);
    color: white;
  }
}

.buy-detail-home {
  .home-title {
    font-size: orm(2.6);
    margin-bottom: orm(3);
    color: #333333;

    p {
      display: inline-block;
      position: relative;
      &:after {
        content: ' ';
        width: orm(3);
        height: 3px;
        position: absolute;
        background-color: $main-red;
        top: orm(2);
        right: orm(-5);
      }
    }
  }
  .home-column {
    margin-bottom: orm(4);
    &:after {
      content: ' ';
      clear: both;
      display: block;
    }
  }
  .home-column-title {
    font-size: orm(1.8);
    color: #333333;
    margin-bottom: orm(3);
    position: relative;
    p {
      display: inline-block;
      padding-right: orm(1.5);
      background-color: #fdf7e7;
      z-index: 10;
      position: relative;
    }
    &:after {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: #d9d9d9;
      top: orm(1.2);
      left: 0;
    }
  }
  .home-column-content {
    font-size: orm(1.8);
    padding-left: orm(11);
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .images-box {
    margin-left: orm(-2);
    overflow: hidden;
  }
  .home-maps{
    img{
      width: 100%;
    }
  }
}

button[type=submit] {
  cursor: pointer;
}

.bg-user {
  background-image: url("../img/contact-uname.png");
}

.bg-phone {
  background-image: url("../img/contact-phone.png");
}

.bg-email {
  background-image: url("../img/contact-email.png");
}