$main-red: #bb1a20;
$rootSize: 50px;

@function orm($n) {
  @return $n*10px;
  //@return $n*10px/root;
}

@function rem($n) {
  @return $n*0.2rem;
}

@function apm($w,$h) {
  @return $h/$w * 100%;
}

html, body {
  background-color: $main-red;
  min-height: 100%;
  font-size: $rootSize;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: orm(120) !important;
}

body {
  padding: 3px;

}

.main-deck {
  background-color: #fdf7e6;

}

.no-padding {
  padding: 0 !important;

}

[data-target=link] {
  cursor: pointer;
}

.padding-box {
  position: relative;
  height: 0 !important;
  width: 100%;

  .padding-box-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }

  &:before, &:after {
    content: ' ';
    clear: both;
  }
}

@import "reset";
@import "jiantou";
@import "index";
@import "switch-slider";
@import "about";
@import "buy";
@import "detail";
@import "contact";
@import "media";