nav {
  font-size: orm(1.8);
  .navbar-nav {
    width: 100%;
  }
  .navbar-toggler {
    width: 20%;
  }
  .navbar-toggler-icon {
    background: url("../img/banner-icon.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;

  }
  .navbar-brand {
    width: orm(66);
    max-width: 70%;
    padding-top: orm(0.17);
    padding-bottom: orm(0.17);
    img {
      width: 100%;
    }
  }
  .nav-link {
    font-weight: 500;
  }
  .dropdown-item {
    font-size: orm(1.6);
    text-align: left;
    clear: none;
  }
  .lan {
    a {
      font-weight: normal;
      font-size: orm(1.6);
    }
    background-color: #fdf7e6;
    .dropdown-item:hover {
      color: $main-red;
    }
    .nav-item {
      text-align: center;
      img {
        margin-top: -3px;
      }
    }
  }
  .active {
    a {
      color: $main-red;
    }
  }
  .deck-menu {
    width: 1000px;
    padding: 20px;
    overflow: hidden;
    .dropdown-item {
      width: 20%;
      float: left;
      padding-left: 10px;
    }
  }
}

@media (min-width: 1920px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: orm(3);
    padding-right: orm(3);
  }
}

.banner {
  padding-bottom: apm(1920, 860);
  text-align: center;
  overflow: hidden;
  position: relative;
  img {
    @extend .center-img;
  }
  .banner-title {
    font-size: orm(5);
    color: white;
    text-align: center;
  }
  .banner-content {
    position: absolute;
    left: 0;
    right: 0;
    top: rem(27.5);
  }
  .banner-input-group {
    position: relative;
    padding-top: 0;
    margin-bottom: rem(7);
    line-height: 0;
    &:after {
      content: ' ';
      width: orm(2);
      height: orm(2);
      position: absolute;
      top: orm(2);
      right: orm(3);
      background: url("../img/ico-search.png");
      background-size: contain;
      background-repeat: no-repeat;

    }
  }
  .banner-input {
    font-size: orm(1.6);
    padding: orm(1.5) orm(3);
    width: 100%;

    &:hover {
      outline: 1px #8ba4b4;
    }

  }
}

.banner-btn-group {
  line-height: 0;
  .btn {
    padding: orm(1.3) orm(3.5);
    color: white;
    border: 1px solid white;
    font-size: orm(1.6);
    margin-left: orm(1.5);
    margin-right: orm(1.5);
    border-radius: 0;
  }
}

.content {
  padding: rem(4) 0;
  .content-header {
    padding-left: rem(5.5);
    margin-bottom: rem(3);
    &.text-center {
      padding-left: 0;
      .content-title {
        &:after {
          left: 50%;
          margin-left: orm(-3.6);
        }
      }
    }
  }
  .content-title {
    font-size: rem(4.63);
    color: $main-red;
    a {
      color: $main-red;
    }
    padding-bottom: rem(3);
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../img/title-bottom.png");
      background-size: 100% 100%;
      width: rem(7.3);
      height: rem(0.6);
    }
  }
}

.room-swiper-container {
  padding-bottom: orm(3);
  margin-bottom: orm(3);
  .swiper-pagination {
    bottom: 0 !important;
    line-height: 0;
  }
  .swiper-pagination-bullet {
    width: orm(5);
    height: orm(0.2);
    border-radius: 0;
  }
  .swiper-pagination-bullet-active {
    background-color: $main-red;
  }
}

.room-cards {
  padding-bottom: apm(1920, 540);
}

.room-card {
  width: 20%;
  padding-left: orm(1.5);
  padding-right: orm(1.5);
  .padding-box {
    padding-bottom: apm(360, 540);
  }
  .card-mask {
    opacity: 1;
  }
  .card {
    .card-img-top {
      border-radius: 0;
      @extend .center-img;
    }
    .card-body {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
    .card-title {
      font-size: rem(1.4);
      color: $main-red;
    }
    .card-text {
      font-size: rem(2.8);
      color: white;
      margin-bottom: rem(2.5);
    }
    .card-summary {
      font-size: rem(1.5);
      color: white;
    }
  }
}

.card-mask {
  transition: all .3s;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: rem(2);
  flex-direction: column;
  justify-content: center;
  dl {
    vertical-align: middle;
  }
  dt {
    width: 41%;
    padding-right: orm(2);
    text-align: right;
  }
  dd, dt {
    display: inline-block;
  }
  dt {
    font-weight: normal;
  }
}

.live-in-hk {
  margin-bottom: rem(5);

  a {
    width: orm(86);
    height: orm(9);
    margin: 0 auto;
    display: block;
    max-width: 80%;
    background: url("../img/hk-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: orm(3.5);
    line-height: orm(8);
  }
}

.room-article {
  overflow: hidden;
  img {
    min-width: 100%;
    min-height: 100%;
  }
  .padding-box {
    padding-bottom: apm(960, 560);
  }
  .no-padding {
    float: left;
  }
}

.room-article-left {
  background: url("../img/room-article-bg.png");
  background-size: 100% auto;
  background-repeat: repeat-x;
  padding: rem(4.5);
  position: relative;
  height: 100%;
  .padding-box {
    padding-bottom: apm(960, 300);
  }
}

.room-article-title {
  font-size: rem(2.6);
  text-align: center;
  margin-bottom: rem(5);
}

.room-article-text {
  font-size: rem(1.6);
  overflow: hidden;
  width: 100%;
}

.room-article-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.room-article-link {
  font-size: rem(1.6);
  color: $main-red;
  border: 1px solid $main-red;
  padding: rem(1) rem(3);
  margin-bottom: rem(5.8);
  border-radius: 0;
  &:hover {
    background-color: $main-red;
    color: white;
    .jiantou {
      background-image: url("../img/jiantou-white.png");
    }
  }
}

.hot-card-row {

  margin-bottom: rem(5);
  .hot-card {
    background-color: white;
    margin-bottom: rem(3);
    box-shadow: 1px 1px 1px 1px #dbd6c7;
    &:hover {
      .card-mask {
        opacity: 1;
      }
    }
  }
  .card-img-top {
    height: orm(31);
    position: relative;
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
  .card-title, .card-text {
    font-size: orm(1.8);
  }
  .card-text {
    color: $main-red;
  }
  .card-body {
    position: relative;
    padding: rem(2) rem(3);
  }
  .card-link {
    position: absolute;
    line-height: 0;
    right: 8%;
    bottom: 33%;
    width: orm(2.8);
    height: orm(3.0);
    display: block;
    border: 1px solid #e2e3e5;
    text-align: center;
    &:hover {
      border-color: $main-red;
      .jiantou {
        background-image: url("../img/jiantou.png");
      }
    }
  }
  .jiantou-hui {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
}

.contact {
  text-align: center;
  margin-bottom: orm(4);
  input, textarea {
    padding: orm(1.5) orm(6);
    font-size: orm(1.6);
    border-color: #d9d9d9;
    background-color: #fef9ee;
    &:focus {
      box-shadow: 0 0 0 orm(0.2) $main-red;
    }
  }
  .form-group {
    position: relative;
    &:before {
      position: absolute;
      content: ' ';
      display: inline-block;
      width: orm(2.2);
      height: orm(1.8);
      left: orm(2.3);
      top: orm(1.9);
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
  }
  .contact-name {
    &:before {
      background-image: url("../img/contact-name.png");
    }
  }
  .contact-address {
    &:before {
      background-image: url("../img/contact-address.png");
    }
  }
  .contact-uname {
    &:before {
      background-image: url("../img/contact-uname.png");
    }
  }
  .contact-phone {
    &:before {
      background-image: url("../img/contact-phone.png");
    }
  }
  .contact-text {
    margin-bottom: orm(4.5);
    &:before {
      left: orm(1.8);
      background-image: url("../img/contact-text.png");
    }
  }
  button {
    background-color: $main-red;
    font-size: orm(1.6);
    padding: orm(1) orm(5);
  }
}

footer {
  background-color: #303339;
  overflow: hidden;
  padding-top: orm(6);
}

.link-list {
  font-size: orm(2);
  color: #999999;
  margin-bottom: orm(6);
  overflow: hidden;
  margin-right: orm(8);
  .list-header {
    border-bottom: 1px solid #999;
    margin-bottom: orm(1.5);
    position: relative;
    &:before {
      content: ' ';
      height: 1px;
      width: orm(3);
      position: absolute;
      bottom: -1px;
      left: 0;
      background-color: $main-red;
    }
  }
  .list-title {
    font-size: orm(2.8);
  }
  a {
    color: inherit;
    display: block;
    float: left;
    text-decoration: none;
    width: 100%;
    &:hover {
      color: $main-red;
    }
  }
  .link-list-2 {
    a {
      width: 50%;
    }
  }

  &.float-right {
    margin-right: 0;
  }
  .link-address, .link-tel {
    padding-left: orm(5);
    position: relative;
    p {
      margin-bottom: 0;
    }
    &:before {
      content: ' ';
      display: inline-block;
      position: absolute;
      width: orm(3);
      height: 100%;
      left: 0;
      top: orm(1);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .link-address {
    margin-bottom: orm(2);
    &:before {
      background-image: url("../img/bottom-address.png");
    }
  }
  .link-tel {
    &:before {
      background-image: url("../img/bottom-tel.png");
    }
  }
}

.copyright {
  text-align: center;
  color: #666666;
  font-size: orm(1.4);
  border-top: 1px solid #444444;
  padding-top: 10px;
}

.bottom-card {
  padding: orm(1.5) 0;
  color: white;
  .bottom-card-title {
    font-size: orm(2.2);
  }
  .bottom-card-text {
    font-size: orm(1.6);
  }
}

footer {
  .w-38 {
    width: orm(38);
  }
  .w-24 {
    width: orm(24);
  }
  .w-16 {
    width: orm(16);
  }
  .w-12 {
    width: orm(12);
  }
  .w-60 {
    width: orm(60);
  }
}

.card {
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
  img {
    border-radius: 0;
  }
}