.jiantou {
    display: inline-block;
    width: orm(1);
    height: orm(0.7);
    background-image: url("../img/jiantou.png");
    background-size: 100% 100%;
    vertical-align: middle;
}

.jiantou-hui{
    background-image: url("../img/jiantou-hui.png");
}