@media screen and (max-width: 1024px) {
  .room-cards {
    padding-bottom: apm(1024, 460);
  }
  .room-card {
    width: 33.33333%;
  }
}

@media screen and (max-width: 1200px) {
  @import "1200";
}

@media screen and (max-width: 720px) {
  @import "720";
}

@media screen and (max-width: 400px) {
  @import "400";
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: orm(3);
  }
}
