.switch-slider {
  margin-bottom: orm(4);
  position: relative;
}

.switch-preview {
  margin-top: 10px;
  width: 80%;
  position: absolute;
  bottom: orm(2);
  left: 10%;
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: orm(1.8);
    color: white;
    text-align: center;
    line-height: orm(6);
  }
}

.switch-preview .arrow-left {
  background: url("../img/arrow-left.png") no-repeat left top;
  position: absolute;
  left: orm(-8.7);
  top: orm(1);
  width: orm(4.2);
  height: orm(4.2);
  z-index: 10;
  border: 1px solid white;
  border-radius: 50%;
  background-position: center center;
}

.switch-preview .arrow-right {
  background: url("../img/arrow-right.png") no-repeat left top;
  position: absolute;
  right: orm(-6.1);;
  top: orm(1);
  width: orm(4.2);
  height: orm(4.2);
  z-index: 10;
  border: 1px solid white;
  border-radius: 50%;
  background-position: center center;
}

.switch-slider-view .swiper-container {
  height: orm(45);
  img {
    min-width: 100%;
    min-height: 100%;
  }
}

.switch-preview .swiper-container {
  height: orm(6);
}

.dropdown-menu {
  padding: 0;
  min-width: 0;
  border-radius: 0;
  .dropdown-item {
    padding: 10px 30px;
  }
}

.switch-preview .swiper-slide {
  width: orm(22);
  height: orm(6);
  cursor: pointer;
  padding: 1px;
  margin-right: orm(1);
  background-color: white;
  line-height: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.switch-preview img {
  padding: 1px;
}

.switch-preview .active-nav {
  padding: 2px;
  .mask {
    display: none;
  }
}